<!DOCTYPE html>
<html>
<head>
  <title>TweetSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if current_user %>
    Usuario: <%= current_user.name %> | <%= link_to "Sign Out", signout_path %>
 <% end %>
   <p class="flash-notice"><%= flash[:notice] %></p>
<%= yield %>


</body>
</html>
